*.vtk
*.mat
*.o
*.obj
*.xlsx
*.asv
*.mex*
*.out
*~
*.swp
.DS_Store
CrossChannel/
CurvedChannelWithCircularArcs/
Improved_model_serpentine_channel/
M_archive/
SemicircularChannel/
SixChannels/
StraightChannel/
WavyChannel/
WavyChannel_Circular/
WavyChannel_HighAmplitude/
WavyNetwork/
archived_data/
limitations.txt
mesh_Ahmad/
my_functions_updated_or_added.txt
parallel_channels_SUPG_vs_noSUPG/
rainbow_temp.pvsm
study_quadrature/
subgraph_monomorphism_method_figures/
unstructured_vs_patran_meshes_constant_source/
